<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVENTOPOLIS :: Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="login-style/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="login-style/css/login.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="createAccount">
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="firstName" id="firstName" placeholder="First Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="lastName" id="lastName" placeholder="Last Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-input" autocomplete="new-password" placeholder="Username"/>
                            <div th:if="${#fields.hasErrors('user.username')}">
                                <p th:each="error : ${#fields.errors('user.username')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                                <input type="email" name="email" id="email" class="form-input" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-input" autocomplete="new-password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
                            <div th:if="${#fields.hasErrors('user.password')}">
                                <p th:each="error : ${#fields.errors('user.password')}" class="alert alert-danger" th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" autocomplete="new-password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <input type="submit" name="submit" id="submit" class="form-submit"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Already have an account ? <a href="login.html" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    <div class="clear"></div>
    <footer>
        <strong>
            <p class="text-center mt-2">&copy; EVENTOPOLIS designed by Chris </p>
        </strong>
        <p class="text-center mt-2">When organizing events on Facebook is the only reason you still use Facebook.</p>
    </footer>

    <!-- JS -->
    <script src="login-style/vendor/jquery/jquery.min.js"></script>
    <script src="login-style/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>